body{
  font-family:arial, sans-serif;
  margin0;
  padding0;
  background-color:#f4f4f4
  color#333;
}

header{
  background:#007e6;
  color: white;
  text-align
  padding:20px 0;
}

nav{
  displays:flex;
  justify-content: center;
  background: #005bb5;
  padding: 10px
}

nav a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  transition: background 0.3s;
}

nav a:hover{
  background: #003f7f;
  border-radius: 5px;
}

.container{
   width:80%
   margin:20px auto;
   padding:20px;
   background:white;
   border-radius:10px;
   box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.profile{
  display :flex;
  align-iteams:center; 
  gap:20px
}

.profile-img{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #0073e6;
}
 
h2{
  border-bottom:2px solid#0073e6;
  padding-bottom:5px
}

ul{
 list-style:none;
 padding:0;
} 

ul li{
 background:#e3f2fd;
 margin:5px 0;
 padding:10px; 
 border-radius:5px;
}

form{ 
 display:flex;
 flex-direction:column;
{

form label{
 margin-top:10px;
{

form input,form textarea{
  width:100%;
  padding:10px;
  margin-top:5px
  border:1px solid #ccc
  border-radius:5px
}

button{
  background:#0073e6;
  color:white;
  border:none;
  padding:10px;
  marging-top:
  cursor:5px;
  border-radius:
  transition:background 0.03s;
}
  
button:hover{
  background:#005bb5;
  }

footer{
  text-align:center;
  padding:20px;
  background:#0073e6;
  color:white;
  margin-top:20px;
}
